<h1>Create a new article</h1>
<p>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
</p>
<%= render 'form' %>
<p>
 <button type="button" class="btn btn-primary btn-md"><%= link_to 'Cancel and return to articles listing', articles_path, class: "btn-articles"%></button>
</p>
