<div class="text-center mt-4" id="page-content">
<h1 class="text-center mt-4">Create a new article</h1>

<div class="container">
  <label for="exampleColorInput" class="form-label">Color picker</label>
  <input type="color" class="form-control-color" id="exampleColorInput" value="#563d7c" title="Choose your color">

</div>

<%= render 'form' %>



 <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark bg-gradient text-white">
    <div class="container text-center">
      <small>Copyright &copy; RubysLittlestGem</small>
    </div>
  </footer>