<div class="text-center mt-4" id="page-content">
<h1 class="text-center mt-4">Create a new article</h1>




<%= render 'form' %>

<br>
 <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark bg-gradient text-white">
    <div class="container text-center">
      <small>Copyright &copy; RubysLittlestGem</small>
    </div>
  </footer>