<h1>Create a new article</h1>

<%= render 'form' %>

 <button type="button" class="btn btn-primary btn-md"><%= link_to 'Cancel and return to articles listing', articles_path, class: "btn-articles"%></button>

