<h1>Welcome to the about page</h1>

<p>
<button type="button" class="btn btn-primary btn-sm"><%= link_to 'Articles listings', articles_path, class: "btn-articles"%></button>
<button type="button" class="btn btn-primary btn-sm"><%= link_to 'Home', root_path, class: "btn-home"%></button>
</p>