<h1 class="text-center mt-4">Welcome to the about page</h1>

<p>
<div class="col text-center">
<button type="button" class="btn btn-primary btn-sm"><%= link_to 'Articles listings', articles_path, class: "btn-articles"%></button>
<button type="button" class="btn btn-primary btn-sm"><%= link_to 'Home', root_path, class: "btn-home"%></button>
</div>
</p>

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark bg-gradient text-white">
    <div class="container text-center">
      <small>Copyright &copy; RubysLittlestGem</small>
    </div>
  </footer>