<h1>Welcome to our Homepage</h1>

<div class="container">
  <div class="container-fluid-home py-5 text-white rounded-3" >
    <h1 class="display-5 fw-bold">Alpha Blog</h1>
    <p class="col-md-8 fs-4">Already have an account? login below or sign up for a new account.</p>
    <hr class="my-3">
    <button class="btn btn-primary btn-lg" type="button">Sign In</button>
  </div>
</div>

<%# <%= link_to 'Articles listings', articles_path%>
<%#= link_to 'About', about_path%> 


