@import 'bootstrap';

 .container-fluid-home {
  //background:linear-gradient(rgb(18, 21, 99), black);
  background-image: asset-url('splash.jpg');
   color: rgb(199, 199, 199);
   text-shadow: 4px 4px 5px rgb(3, 3, 3);
  background-size: 100%;
  max-width: fit-content;
  justify-content: center;
  background-position: top;
  background-repeat: no-repeat;
  margin: auto;
 }

 .custom-toggler, .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,253,254, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler, .navbar-toggler {
  border-color: rgb(255, 253, 254);
} 


 .container-article {
  width: 400px;
  margin: auto;

 } 

 .navbar-toggler-icon {
  color: #fff;
 }
 .btn-group {
  justify-content: center;
  display: flex;
  flex-direction: row;
 }

 #btn-sign-in {
  margin: auto;
 }


.col-md-8 {
  padding: 25px;
  margin: auto;
  z-index: 3;
}
.btn-show, .btn-edit, .btn-delete, .btn-articles, .btn-articles-new, .btn-home {
  text-decoration: none;
  color: white;
}
.btn-articles:hover, .btn-home:hover, .btn-articles-new:hover {
  text-decoration: none;
  color: rgb(19, 197, 251);
}

.title, .description {
  padding-right: 25px;
}

table {
 
  margin: auto;
}

th{
  color: rgb(121, 24, 28);
}

.title {
  color: rgb(95, 182, 220);
}


h1 { 
  color: rgb(159, 159, 159);
  padding: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 2px 2px 3px rgb(3, 3, 3);align-content: center;
 }
 

 .nav-link:hover {
  color: rgb(173, 170, 170);
}
.nav-link {
  color: white;
}
  


html,
body {
  height: 100%;
  width: 100%;
  margin: auto;
}

#page-content {
  flex: 1 0 auto;
}

/* Other Classes for Page Styling */



 